<div class="bg-white rounded-lg shadow-md p-4 mb-4">
    <%= link_to(event_path(user_event), class: "hover:text-blue-500 hover:underline") do %>
      <h2 class="font-semibold">
        <%= user_event.name %> - <%= user_event.start_at.strftime("%e %b %Y")%>
      </h2>
    <% end %>
</div>