<%= link_to(event_match_path(event, match), data: {turbo_frame: "_top"}) do %>
    <div class="">
        <%= match.competitor1.nil? ? "BYE" : match.competitor1.full_name %> vs <%= match.competitor2.nil? ? "BYE" : match.competitor2.full_name %>
    </div>
<% end %>