<main class="p-5">
    <%= turbo_frame_tag "entries" do%>
        <section class="">
            <%= render @entries %>
        </section>

        <section class="mt-4">
            <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        </section>
    <% end %>
</main>