<main class="m-10 sm:m-20">
	<%= link_to sanitize("&larr; Back to event"), event_path(@event), class: "text-blue-500 hover:underline mb-4 inline-block" %>

	<h1 class="font-bold text-4xl">Register for event</h1>

	<%= render "form", entry: @entry, event: @event %>
</main>