<!-- this is scoreboard for match <%= @match.id %> -->
<main>
    <section>
        <%= render "scoreboards/competitor", match: @match, competitor_index: 1 %>
        <%= render "scoreboards/competitor", match: @match, competitor_index: 2 %>
    </section>
    
    <section>
    
    </section>
</main>