<% if bracket.first_place_id %>
    <h3> <%= link_to "1st: #{bracket.first_place.full_name}", user_path(bracket.first_place) %></h3>
    <% if bracket.second_place_id %>
        <h3><%= link_to "2nd: #{bracket.second_place.full_name}", user_path(bracket.second_place) %></h3>
    <% end %>
    <% if bracket.third_place_id %>
        <h3><%= link_to "3rd: #{bracket.third_place.full_name}", user_path(bracket.third_place) %></h3>
    <% end %>
    <% if bracket.third_place2_id %>
        <h3><%= link_to "3rd: #{bracket.third_place2.full_name}", user_path(bracket.third_place2) %></h3>
    <% end %>
<% else %>
    <h2>Winners yet to be announced...</h2>
<% end %>