<main class="m-20 justify-center">
    <%= link_to sanitize("&larr; Back to all brackets"), event_brackets_path(@event), class: "text-blue-500 hover:underline mb-4 inline-block" %>
    
    <h1 class="text-3xl font-semibold">
        <%= render "weightclasses/weightclass", weightclass: @bracket.weightclass %>
    </h1>

    <section>
        info
    </section>

    <section>
        matches
    </section>
    <!-- <%= link_to "Registrations", event_bracket_registrations_path(@event, @bracket), class: "py-3 px-5 bg-blue-500 text-white rounded-lg inline-block hover:bg-blue-600 transition duration-300" %> -->
    <!-- <%= render @bracket.registrations %> -->

</main>