<main class="m-20 justify-center">
    <%= link_to sanitize("&larr; Back to all brackets"), event_brackets_path(@event), class: "text-blue-500 hover:underline mb-4 inline-block" %>
    
    <h1 class="text-3xl font-semibold">
        <%= render "weightclasses/weightclass", weightclass: @bracket.weightclass %>
    </h1>
</main>