<%= turbo_frame_tag "content" do %>
  <section class="">
    <%= render "entries/entries", entries: @bracket.entries.order(created_at: :asc), bracket: @bracket %>
  </section>

  <section class="mt-4">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </section>
<% end %>